{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">About Go ratings</h1>
  <p class="lead">This webpage is designed to rate Go players using the <a href="https://www.remi-coulom.fr/WHR/" target="_blank"> WHR </a> algorithm, data is provided by <a href="https://www.go4go.net/go/" target="_blank"> go4go.net </a> and <a href="https://db.u-go.net/" target="_blank"> db.u-go.net</a>.</p>
  <hr class="my-4">
  <p>The author is not responsible for any of the prejudices that could come from visiting this page</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
</div>

{% endblock %}
