{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Contact</h1>
  <p class="lead"> My name is Diego Asterio de Zaballa I'm a double undergraduate in the university of Granada.</p>
  <hr class="my-4">
  <p><a href="mailto:diegoasterio.z@gmail.com"> diegoasterio.z@gmail.com </a> · +34 697 27 16 16 · 23 years old · <a href="https://github.com/DiegoAsterio/">my github profile </a> </p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
</div>

{% endblock %}
